* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  text-align: center;
  padding: 10px 0;
  background-color: #9256c7;
}

.navbar a {
  font-family: "Droid Sans", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
